main.container(ng-controller="labController as $ctrl")

    kp-universal-form(
        form-settings="$ctrl.options"

        ng-model="$ctrl.model"

        async-validations-model="$ctrl.model"
    )
    div Model:
    pre {{$ctrl.model | json}}

    div Form:
    pre {{$ctrl.form | json}}

