main.container(ng-controller="labController as $ctrl")

    form(name="$ctrl.form" novalidate="novalidate")

       kp-value-editor(
            type="'text'"

            editor-name="'abla'"

            ng-model="$ctrl.model"

            validations="$ctrl.validations"
       )

    div Model:
    pre {{$ctrl.model | json}}

    div Form:
    pre {{$ctrl.form | json}}

