main.container(ng-controller="labController as $ctrl")

    kp-universal-form(
        form-settings="$ctrl.options"

        ng-model="$ctrl.model"

        form-controller="$ctrl.form = $formController"

        async-validations-model="$ctrl.model"
    )
    .row
        .col-lg-6
            div Input
            pre {{$ctrl.form.personBirthDate | json}}
        .col-lg-6
            div Datepicker
            pre {{$ctrl.form.pica | json}}

    div Model:
    pre {{$ctrl.model | json}}

