main.container(ng-controller="labController as $ctrl")

    form(name="$ctrl.form")

        kp-value-editor(
            type="'text'"

            options="{" +
                "emptyAsNull: false" +
            "}"

            validations="{" +
                "async: true" +
            "}"

            ng-model="$ctrl.model"
        )

    div Model:
    pre {{$ctrl.model | json}}

    div Form:
    pre {{$ctrl.form | json}}

