div(ng-switch="$ctrl.resolveAlias()" ng-show="$ctrl.visible")
    text-value-editor(ng-switch-when="text" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    number-value-editor(ng-switch-when="number" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    boolean-value-editor(ng-switch-when="boolean" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    hidden-value-editor(ng-switch-when="hidden" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    html-value-editor(ng-switch-when="html" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    date-value-editor(ng-switch-when="date" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    acceptable-value-editor(ng-switch-when="acceptable" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    year-value-editor(ng-switch-when="year" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    card-number-value-editor(ng-switch-when="card-number" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    index-selection-value-editor(ng-switch-when="index-selection" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    autocomplete-value-editor(ng-switch-when="autocomplete" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    password-value-editor(ng-switch-when="password" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    signature-value-editor(ng-switch-when="signature" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    access-number-value-editor(ng-switch-when="access-number" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    number-range-value-editor(ng-switch-when="number-range" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    acceptable-root-value-editor(ng-switch-when="acceptable-root" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    search-text-value-editor(ng-switch-when="search-text" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    searchable-value-editor(ng-switch-when="searchable" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    range-value-editor(ng-switch-when="range" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
