div(ng-form="$ctrl.form" ng-switch="$ctrl.type" ng-show="$ctrl.visible")
    text-value-editor(ng-switch-when="text" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    number-value-editor(ng-switch-when="number" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    boolean-value-editor(ng-switch-when="boolean" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    hidden-value-editor(ng-switch-when="hidden" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    html-value-editor(ng-switch-when="html" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    date-value-editor(ng-switch-when="date" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    acceptable-value-editor(ng-switch-when="acceptable" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
    year-value-editor(ng-switch-when="year" ng-model="$ctrl.model" ng-model-options="{ getterSetter: true }")
