{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        {"message": "*bump PATCH version*", "release": "patch"},
        {"message": "*bump MINOR version*", "release": "minor"},
        {"message": "*bump MAJOR version*", "release": "major"}
      ]
    }],
   "@semantic-release/npm"
  ]
}
