{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        {"message": "*PATCH*", "release": "patch"},
        {"message": "*MINOR*", "release": "minor"},
        {"message": "*MAJOR*", "release": "major"}
      ]
    }]
  ]
}
