.input-group-select {
    padding: 0;
    border: none;

    .ui-select-toggle,
    .ui-select-search {
        border-right: 0;

        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }

    .ui-select-placeholder,
    .ui-select-match-text {
        padding-right: 10px;
    }
}
