span(ng-if="jvecc.editor.reorderable")
    ui-select(multiple="" ng-model="jvecc.model" theme="bootstrap" ng-disabled="jvecc.disabled" sortable="true" close-on-select="false" append-to-body="true" style="width: 600px;")
        ui-select-match(placeholder="${loc.loc(") {{$item|loc}}
        ui-select-choices(repeat="av in (jvecc.editor.acceptableValues | filter: $select.search) track by av.id")
            div(ng-bind-html="av|loc")

span(ng-if="!jvecc.editor.reorderable && (jvecc.editor.acceptableValues.length < 13 || jvecc.customEditorOptions.forceCheckboxes)" ng-class="{'with-more': jvecc.acceptableValuesEditor.hasMore()}" kp-uuid="uuid = $uuid")
    ul(ng-ref="ulElement")
        li.av-item(ng-repeat="av in jvecc.acceptableValuesEditor.getAcceptableValues()")
            .pretty.p-icon.p-smooth.p-curve
                input(type="checkbox" name="{{jvecc.name}}" ng-disabled="jvecc.disabled" ng-checked="jvecc.acceptableValuesEditor.contains(av)" ng-click="jvecc.acceptableValuesEditor.toggle(av)" title="{{jvecc.acceptableValuesEditor.getTitle(av)}}")
                .state.p-primary
                    i.icon.glyphicon.glyphicon-ok
                    label
                        | {{av | loc}}
                        span.text-muted(ng-if="av.count") {{av.count}}x
        li.more-container(class="{{uuid}}" ng-if="jvecc.acceptableValuesEditor.hasMore()")
    .btn-group(ng-if="jvecc.editor.acceptableValues.length > 3 && !jvecc.customEditorOptions.forceDisableToggleAllButtons")
        button.btn.btn-default.btn-xs(type="button" ng-disabled="jvecc.model.length === jvecc.editor.acceptableValues.length" ng-click="jvecc.acceptableValuesEditor.selectAll(); jvecc.valueChanged();") ${loc.loc("commons.VybratVse")?noEsc}
        button.btn.btn-default.btn-xs(type="button" ng-disabled="jvecc.model.length === 0" ng-click="jvecc.acceptableValuesEditor.deselectAll(); jvecc.valueChanged();") ${loc.loc("commons.OdznacitVse")?noEsc}

span(ng-if="!jvecc.editor.reorderable && jvecc.editor.acceptableValues.length >= 13 && !jvecc.customEditorOptions.forceCheckboxes")
    select.form-control(id="{{jvecc.id}}" class="input-{{jvecc.inputSize}}" name="{{jvecc.name}}" multiple="" size="{{jvecc.acceptableValuesEditor.getSize()}}" ng-model="jvecc.model" ng-options="{{jvecc.acceptableValuesEditor.modelAsId && 'av.id' || 'av'}} as av|loc for av in jvecc.editor.acceptableValues {{jvecc.acceptableValuesEditor.modelAsId && ' ' || 'track by av.id'}}" ng-change="jvecc.valueChanged()" ng-required="jvecc.editor.required" ng-disabled="jvecc.disabled && jvecc.editor.required")
