object-value-editor {
    label.required::after {
        content: '*';
        color: red;
        vertical-align: super;
        font-size: 10px;
        margin-left: 2px;
    }

    .debug-info {
        position: absolute;
        top: 0;
        right: -30px;
    }
}
