doctype html

html
    head
        title Value Editor Demo

    body(ng-app="app")
        h1 Value Editor Demo
        main(ng-controller="demoController as dc" ng-init="disabled = false")
            kp-value-editor(ng-model="value" editor-id="ajdy" type="'text'" status="status" options="{type: 'rich-textarea'}" disabled="disabled")
            hr
            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")

            input(type="text" ng-model="value")
            div {{status | json}}
