doctype html

html
    head
        title Value Editor Demo

    body(ng-app="app")
        h1 Value Editor Demo
        main(ng-controller="demoController as dc" ng-init="disabled = false; value='ANO'")

            label Hello
                kp-value-editor(ng-model="value" editor-id="ajdy" type="'boolean'" status="status" disabled="disabled")

            hr
            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")

            div Model: {{value | json}}
            div {{status | json}}
