doctype html

html
    head
        title Value Editor Demo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

    body(ng-app="app" ng-strict-di)
        h1 Value Editor Demo
        main(ng-controller="demoController as dc")

            kp-value-editor(type="'acceptable'" ng-model='dc.model' options='{\
              acceptableValues: dc.acceptableValues,\
              multiselectable: dc.multiselectable,\
              optionsTemplate: dc.optionsTemplate,\
              singleSelectedValueTemplate: dc.singleSelectedValueTemplate,\
              multiSelectedValueTemplate: dc.multiSelectedValueTemplate,\
              searchable: dc.searchable,\
              reorderable: dc.reorderable,\
              showFirstCount: dc.showFirstCount,\
              selectedFirst: dc.selectedFirst,\
              sortModel: dc.sortModel,\
              switchToCheckboxesThreshold: dc.switchToCheckboxesThreshold,\
              sortComparator: dc.sortComparator,\
              equalityComparator: dc.equalityComparator\
              }')

            div Model: {{dc.model}}
            hr
            |      Options:
            div {{dc.acceptableValues}}
            |      Settings:
            div
                | multiselectable:
                input(type='checkbox' ng-model='dc.multiselectable')
            div
                | optionsTemplate:
                input(type='text' ng-model='dc.optionsTemplate')
            div
                | singleSelectedValueTemplate:
                input(type='text' ng-model='dc.singleSelectedValueTemplate')
            div
                | multiSelectedValueTemplate:
                input(type='text' ng-model='dc.multiSelectedValueTemplate')
            div
                | searchable:
                input(type='checkbox' ng-model='dc.searchable')
            div
                | reorderable:
                input(type='checkbox' ng-model='dc.reorderable')
            div
                | showFirstCount:
                input(type='number' ng-model='dc.showFirstCount')
            div
                | selectedFirst:
                input(type='checkbox' ng-model='dc.selectedFirst')
            div
                | sortModel:
                input(type='checkbox' ng-model='dc.sortModel')
            div
                | switchToCheckboxesThreshold:
                input(type='number' ng-model='dc.switchToCheckboxesThreshold')
            div
                | sortComparator:
                input(type='text' ng-model='dc.sortComparatorString' ng-change='dc.evalComparators()')
            div
                | equalityComparator:
                input(type='text' ng-model='dc.equalityComparatorString' ng-change='dc.evalComparators()')
            |      OPTS:
            div {{dc.multiselectable | json}}
