doctype html

html
    head
        title Value Editor Demo
        link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

    body(ng-app="app")
        h1 Value Editor Demo
        main(ng-controller="demoController as dc" ng-init="disabled = false; value='ANO'")

            label Hello
                kp-value-editor(ng-model="value" editor-id="ajdy" type="'hidden'" status="status" disabled="disabled")

            hr
            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")

            div Model: {{value | json}}
            div {{status | json}}
            ul
                li(ng-repeat="(errorName, errorValue) in status.$error") {{errorName}}
