doctype html

html
    head
        title Value Editor Demo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

    body(ng-app="app" ng-strict-di)
        h1 Value Editor Demo
        main(ng-controller="demoController as dc" ng-init="disabled = false; value='ANO'")

            kp-value-editor(ng-model="value" editor-id="ajdy" type="'html'" status="status" disabled="disabled" validations="{required: true}" placeholder="Write some clever...")

            hr
            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")

            div Value:
                input(ng-model="value")

            div Model: {{value | json}}
            div {{status | json}}
            ul
                li(ng-repeat="(errorName, errorValue) in status.$error") {{errorName}}
