doctype html

html
    head
        title Value Editor Demo
        link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

    body(ng-app="app")
        h1 Value Editor Demo
        main(ng-controller="demoController as dc" ng-init="disabled = false; value=null; idt=false")

            label Hello
                kp-value-editor(ng-model="value" editor-id="ajdy" type="'boolean'" status="status" disabled="disabled" options="{nullAsIndeterminate: idt}")

            hr
            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")
            div
                label Null as indeterminate: {{idt | json}}
                    input(type="checkbox" ng-model="idt")

            button(type="button" ng-click="value = null") Set indeterminate

            div Model: {{value | json}}
            div {{status | json}}
